<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Biblioteca Letterboxd</title>
</head>

<body>
  <!-- Site de Filmes -->

  <h1>Filmes</h1>
  <img
    src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9b/Letterboxd_2023_logo.png/250px-Letterboxd_2023_logo.png"
    alt="Letterboxd" />
  <p>
    Letterboxd is a social network for movie lovers where users can rate, comment on, and organize movies they've
    watched or want to watch.
  </p>
</body>

</html>